<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eShop</title>
</head>
<body>
    <div id="app">
        <header class="header-wrap">
            <div class="container header">
                <input type="text" class="goods-search" v-model="searchLine"/>
                <button class="search-button header-button" type="button" @click="search">Искать</button>
                <button class="cart-button header-button" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="goods-list" v-for="product in filteredProducts">
                        <h3>{{ product.product_name }} </h3>
                        <p>{{ product.price }}</p>
                        <button @click="put">Купить</button>
                </div>
                <div class="cart-list">

                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>